#DO NOT CHANGE THESE SETTINGS UNLESS YOU KNOW WHAT YOU'RE DOING
ErrorDocument 404 /404
ErrorDocument 403 /403

Options -Indexes
Options +FollowSymlinks

SetEnv SiteRoot /
SetEnv TimeZone Asia/Jakarta

RewriteEngine on
RewriteBase /
RewriteRule ^404$ handler.php?404
RewriteRule ^403$ handler.php?403

RewriteRule ^account account.php
RewriteRule ^ranking/bestPlayers$ ranking.php
RewriteRule ^game/register$ handler.php?register
RewriteRule ^game$ handler.php?gameboard
RewriteRule ^contact$ contact.php
RewriteRule ^about$ team.php
RewriteRule ^disclaimer$ handler.php?disclaimer
RewriteRule ^faq$ handler.php?faq
RewriteRule ^profile/([a-zA-Z0-9_-]+)$ profile&id=$1
RewriteRule ^upgrade$ handler.php?upgrade
RewriteRule ^newsboard$ handler.php?newsboard
RewriteRule ^tag/(.*)$ newsboard&amp;tag={R:1};
RewriteRule ^tos$ handler.php?termsofservice
RewriteRule ^contact/recover$ reset.php
RewriteRule ^upgrade/bonus$ handler.php?bonus

RewriteCond %{ENV:REDIRECT_VAR} !^$
RewriteRule .* - [E=VAR:%{ENV:REDIRECT_VAR}]

RewriteCond %{ENV:REDIRECT_VAR} (.+)
RewriteRule .* - [E=VAR:%1]

RewriteCond %{HTTP_HOST} ^google.com$
RewriteRule (.*)$ http://www.google.com/$1 [L]

DirectoryIndex index.php

DefaultLanguage en
AddDefaultCharset UTF-8

ServerSignature Off

AddType application/x-httpd-php .asp
AddType application/x-shockwave-flash .swf
AddType image/x-icon .ico
<FilesMatch "\.(asp|aspx)$">
  SetHandler application/x-httpd-php
</FilesMatch>
<FilesMatch "\.(swf)$">
  SetHandler application/x-shockwave-flash
</FilesMatch>
<FilesMatch "\.(ico)$">
  SetHandler image/x-icon
</FilesMatch>

<Files .htaccess>
  order allow,deny
  deny from all
</Files>

<ifmodule mod_php4.c>
  php_value zlib.output_compression 16386
</ifmodule>